@font-face {
  font-family: "GMP Icons";
  src: url(./assets/GMPIcons.woff2);
}

@font-face {
  font-family: 'Neo Pro';
  src:url('./assets/NeoDunggeunmoPro-Regular.woff2') format('woff2');
} 

@font-face {
  font-family: 'Neo';
  src:url('./assets/neodgm_code.woff2') format('woff2');
} 

@font-face {
  font-family: 'Galmuri';
  src:url('./assets/Galmuri11.woff2') format('woff2');
} 

@font-face {
  font-family: 'Galmuri-Bold';
  src:url('./assets/Galmuri11-Bold.woff2') format('woff2');
} 

* {
  font-family: 'Neo';
}

html {
  cursor: url(./assets/cursor1.svg) 5 5, auto;
}

body {
  display: inline-block;
  height: 92vh;
  margin: 0px;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 5px 0px;
  background-color: rgb(33, 41, 54);
  padding: 10px 0px 4px 5px;
}

.logoImg {
  width: 190px;
  margin-left: 5px;
}

.contact {
  font-family: "Noto";
  margin-right: 70px;
  color: #fff;
  cursor: pointer;
}

.contact:hover {
  color: rgb(242, 244, 246);
}

.containerHeader {
  display: flex;
}

.container {
  display: grid;
  margin: 0px 8px;
  grid-template-rows: 0fr auto;
  height: 100%;
  /* width: 100%; */
}

.line {
  width: 100%;
  border-bottom: 1px solid rgb(210, 213, 218);
}

.firebase,
.gtm,
.gaTester {
  display: flex;
  height: 40px;
  align-items: center;
  font-family: "Noto Sans", serif;
  border: 1px solid rgb(210, 213, 218);
  padding-right: 9px;
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
}

a {
  text-decoration-line: none;
}

.firebase {
  width: 160px;
  color: rgb(59, 68, 81);
  font-size: 15px;
  font-weight: 400;
}

.firebaseImg {
  width: 24px;
  margin: 0px 5px;
}

.gtmImg {
  width: 30px;
  margin: 0px 5px;
}

.gtm {
  width: 170px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(59, 68, 81);
}

.gaImg {
  width: 24px;
  margin: 0px 5px;
}

.gaTester {
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(86, 90, 232);
  background-color: rgb(242, 245, 249);
  border-bottom: 1px solid rgb(242, 245, 249);
}

.contentContainer {
  /* background-color: rgb(242, 245, 249); */
  background-image: url(./assets/background2.jpg);
  background-size: cover;
  padding-top: 20px;
  width: 100%;
  display: inline-flex;
  border: 1px solid rgb(210, 213, 218);
  border-top: none;
  align-items: center;
  justify-content: center;
}

.setEvent {
  display: flex;
}

#initButton {
  float: right;
  font-size: 14px;
  color: rgb(64, 72, 84);
  background-color: rgb(243, 244, 245);
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
}

#setData {
  background-image: url(./assets/backgroud.png);
  background-repeat: no-repeat;
  margin-left: 20px;
  height: 700px;
  /* overflow: auto; */
  min-width: 644px;
  box-sizing: border-box;
}

.topDiv {
  display: flex;
  justify-content: space-between;
  height: 42px;
  width: 644px;
}

#eventType {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}


.eventDiv {
  height: 30px;
  width: 90px;
  border-radius: 15px 15px 0px 0px;
  align-content: center;
  justify-items: center;
  border-bottom: 2px solid #342C43;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.select {
  background-color: #fff;
  border: 2px solid #342C43;
  border-bottom: 2px solid #fff;
}
.event {
  font-size: 14px;
  text-align: center;
  align-content: center;
  width: 90px;
  height: 30px;
  user-select: none;
  border-radius: 7px;
}

.event:hover {
  background-color: #b3c2f7;
}

.select > .event:hover {
  background-color: initial;
}


.btnDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 43px;
}

.min, .max, .close {
  height: 26px;
  width: 26px;
  margin-right: 10px;
}

.min {
  background-image: url(./assets/button-small.svg);
  /* background-image: url(./assets/min.svg); */
  background-color: rgb(255, 255, 255);
}

.max {
  background-image: url(./assets/button-big.svg);
  background-color: rgb(250, 234, 155);
  cursor: pointer;
  /* background-image: url(./assets/max.svg); */
}

.close {
  background-image: url(./assets/button-x.svg);
  background-color: rgb(235, 185, 212);
  /* background-image: url(./assets/close.svg); */
}

.initDiv {
  height: 22px;
}

.sectionDiv {
  overflow: auto;
  padding: 20px;
  padding-right: 0px;
  height: 590px;
  width: 620px;
}

.section {
  margin-top: 10px;
  padding-bottom: 15px;
}

.sessionTitle {
  font-size: 14px;
  color: #8FA7C9;
  letter-spacing: 0.3px;
  padding-bottom: 10px;
}

.inputGroup, .parameterGroup {
  display: flex;
  align-items: center;
}

#preParam,
#eventParam,
#userProperty,
#transaction,
#items {
  margin-top: 20px;
}

hr {
  margin: 0px;
  border: none;
}

.dropdown, .ecommerceSelect {
  font-family: 'Neo';
  display: inline;
  border: solid 2px #342C43;
  border-radius: 10px;
  box-shadow: none;
  padding: 0px 0px 0px 12px;
  height: 30px;
  line-height: 29px;
  font-size: 15px;
  width: 232px;
  margin: 6px 16px 6px 0px;
  appearance: none;
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/arrow_drop_down_grey600_24dp.png);
  background-position: right 6px center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.dropdown:focus {
  background: linear-gradient(90deg, #f8f4c9, #f0d1e6, #c9d6f0);
  outline: none;
}

label {
  font-size: 13px;
}

.formInput.page {
  margin-left: 12px;
}

.formInput {
  border: solid 2px #342C43;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  height: 22px;
  line-height: 38px;
  width: 204px;
  margin: 6px 16px 6px 0px;
  font-size: 14px;
  padding-top: 3px;
}

.formInput.formKey {
  font-size: 15px;
}

.formInput:focus {
  background: linear-gradient(90deg, #f8f4c9, #f0d1e6, #c9d6f0);
  outline: none;
}

.formInput:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
}

.removeButton {
  width: 28px;
  height: 28px;
  font-size: 20px;
  border: 2px solid #342C43;
  background-color: rgba(162, 180, 254, 0.5);
  border-radius: 8px;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.removeButton:active {
  transform: translateY(3px); /* 시각적으로 눌린 느낌 */
}

.addInput {
  border: 2px solid #342C43;
  border-radius: 50px;
  box-shadow: 0px 3px 0px #342C43;
  color: #342C43;
  margin: 8px 10px 15px 0px;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  letter-spacing: 0.25px;
  padding: 3px 12px;
  background-color: transparent;
  user-select: none;
}

.addInput:active {
  transform: translateY(3px);
}

.addInput:hover {
  background-color: #EBB9D4;
}

.numInput {
  background: linear-gradient(90deg, #f8f4c9, #f0d1e6, #c9d6f0);
  border: 2px solid #342C43;
  border-radius: 7px;
  margin-right: 5px;
  font-size: 16px;
  height: 20px;
  color: #342C43;
  text-align: center;
}

.numInput:focus {
  outline: none;
}

#fireButton {
  justify-items: center;
  padding-right: 20px;
}

#fireButton > div {
  background-image: url(./assets/button-submit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EBB9D4;
  border: 2px solid #342C43;
  border-radius: 15px;
  width: 270px;
  height: 60px;
}

#fireButton > div:hover {
  background-color: rgba(253, 233, 144, 0.5);
}

#fireButton > div:active {
  background-color: rgba(162, 180, 254, 0.5);
  top: 5px;
  margin-top: 5px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tab {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 13px;
  padding: 0px 5px;
  margin-right: 5px;
  background-color: #A2B4F7;
  border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #342C43;
  cursor: pointer;
  user-select: none;
}

.removeDiv:hover {
  background-color: #8f9dd3;
}

.tab:hover {
  background-color: #b3c2f7;
}

.tab.select {
  background-color: #EBB9D4;
  font-weight: bold;
}

.tab span {
  margin-right: 3px;
}

.tab .removeTab {
  font-size: 18px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 17px;
}

.removeDiv {
  background-color: initial;
  width: 18px;
  height: 20px;
  padding-right: 2px;
  border-radius: 20px;
}

.select > .removeDiv:hover {
  background-color: #cea5bb;
}

.vscode-theme {
  align-self: center;
  /* background-image: url(./assets/background3.png); */
  /* background-position:  */
  background-color: #282c34;
  color: #abb2bf; /* 기본 텍스트 색상 */
  padding: 16px;
  font-family: 'Consolas', 'Courier New', monospace;
  overflow: auto;
  max-height: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0px 20px 0px 50px;
  border-radius: 10px;
  overflow-y: scroll;
  /* border: 1px solid #ccc; */
  min-width: 400px;
  max-width: 434px;
}

/* Syntax highlighting */
.vscode-theme .key {
  color: #61afef;
}
.vscode-theme .string {
  color: #98c379;
}
.vscode-theme .number {
  color: #d19a66;
}
.vscode-theme .boolean {
  color: #e06c75;
}
.vscode-theme .null {
  color: #c678dd;
}
.vscode-theme .bracket {
  color: #e5c07b; /* 연한 노란색: 중괄호와 대괄호 */
}

/* Scrollbar styling */
.vscode-theme::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.vscode-theme::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 4px;
}
.vscode-theme::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.knob,
.btn-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn {
  position: relative;
  top: 50%;
  width: 70px;
  height: 26px;
  overflow: hidden;
}

.btn.btn-pill,
.btn.btn-pill > .btn-bg {
  border-radius: 100px;
}

.btn.btn-rect {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knob {
  z-index: 2;
}

.btn-bg {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.sectionDiv::-webkit-scrollbar {
  width: 12px;
}

.sectionDiv::-webkit-scrollbar-thumb {
  height: 20%;
  background-image: url(./assets/scroll.png);
  background-size: contain;
  background-repeat: round;
  margin: 0px -4px 0px 0px;
}

.sectionDiv::-webkit-scrollbar-track {
  /* background-color: grey; */
  /* border-radius: 10px; */
  /* box-shadow: inset 0px 0px 5px white; */
}

.toggleButton {
  width: 22px;
  height: 24px;
  line-height: 27px;
  padding-left: 2px;
  margin-right: 10px;
  text-align: center;
  font-size: 12px;
  color: #342C43;
  background-color: #EBB9D4;
  border: 2px solid #342C43;
  border-radius: 9px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

/* 클릭 효과 */
.toggleButton:active {
  transform: translateY(3px);
}

/* 활성화 상태 */
.toggleButton.active {
  background-color: rgb(250, 234, 155);
}

#addTab {
  width: 28px;
  height: 28px;
  font-size: 13px;
  padding-left: 7px;
  border: 2px solid #342C43;
  background-color: rgba(162, 180, 254, 0.5);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  font-family: 'Galmuri-Bold';
  transition: all 0.2s ease;
}

#addTab:active {
  transform: translateY(3px);
}

.controls {
  display: flex;
  align-items: center;
}

.controls > div {
  display: flex;
}

.numPlus, .numMinus {
  font-family: 'Galmuri-Bold';
  border: 2px solid #342C43;
  border-radius: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.numPlus:active, .numMinus:active {
  transform: translateY(3px);
}

.numPlus {
  width: 18px;
  height: 20px;
  padding-left: 2px;
  background-color: #EBB9D4;
}

.numMinus {
  font-size: 20px;
  width: 17px;
  height: 20px;
  font-family: 'Galmuri-Bold';
  padding-left: 3px;
  margin-left: 6px;
  line-height: 21px;
  background-color: #A2B4F7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}